* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f2f2f2;
}

a {
    color: #fff;
    text-decoration: none;
}

nav {
    background: #1b1b1b;
    box-shadow: 5px 5px 4px #3d3c3c;
    min-width: 1200px;
}

button,
select {
    color: white;
    background-color: #1b1b1b;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    /* padding: 8px 15px; */
}

button:focus,
select:focus {
    outline: none;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav .logo span {
    color: #66ffff;
}

nav ul {
    float: right;
    margin-right: 40px;
    list-style: none;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #1b1b1b;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    line-height: 70px;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

.mobile-logo {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .logo {
        display: none;
    }
  
    .mobile-logo {
        display: block;
        background-color: #1b1b1b;
        /* min-width: 1200px; */
        text-align: center;
        border: none;
        outline: none;
    }
  
    .mobile-logo span {
        color: #66ffff;
    }
  
    /* .container {
        min-width: 1200px;
    } */
    .containers{width:80%!important;margin-right:10%!important;margin-left:10%!important;}
    .container{width:80%;margin-right:10%;margin-left:10%}
  @media all and (max-width: 968px) {
    nav {
        min-width: 200px;
    }
     nav ul {
          margin-right: 0px;
          float: left;
     }
  
     nav .logo {
          padding-left: 30px;
          width: 100%;
     }
  
     .show+a,
     ul {
          display: none;
     }
  
     nav ul li,
     nav ul ul li {
          display: block;
          width: 100%;
     }
  
     nav ul li a:hover {
          box-shadow: none;
     }
  
     .show {
          display: block;
          color: white;
          font-size: 18px;
          padding: 0 20px;
          line-height: 70px;
          cursor: pointer;
     }
  
     .show:hover {
          color: cyan;
     }
  
     .icon {
          display: block;
          color: white;
          position: absolute;
          top: 0;
          right: 40px;
          line-height: 70px;
          cursor: pointer;
          font-size: 25px;
     }
  
     nav ul ul {
          top: 70px;
          border-top: 0px;
          float: none;
          position: static;
          display: none;
          opacity: 1;
          visibility: visible;
     }
  
     nav ul ul a {
          padding-left: 40px;
     }
  
     nav ul ul ul a {
          padding-left: 80px;
     }
  
     nav ul ul ul li {
          position: static;
     }
  
     [id^=btn]:checked+ul {
          display: block;
     }
  
     nav ul ul li {
          border-bottom: 0px;
     }
  
     span.cancel:before {
          content: '\f00d';
     }
  }
  
  }
  
  

/* @media only screen and (max-width: 1100px) {
    .logo {
        display: none;
    }
    .mobile-logo {
        display: block;
        background-color: #1b1b1b;
        /* min-width: 1200px; */


/* text-align: center;
        border: none;
        outline: none;
    }
    .mobile-logo span {
        color: #66ffff;
    } */

.success {
    background-color: black;
    border: none;
    /* color: black; */
    color: #fff;
    padding: 5px 5px 5px 15px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    display: inline;
    cursor: pointer;
}

.btn-lg {
    font-size: large;
    padding: 0.5rem 1.5rem;
    text-align: center;
}

.btn-shadow {
    box-shadow: 0px 2px #888;
}

section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 5%;
    grid-template-columns: 20% 60% 5%;
}

section #Info_Cont1 {
    padding: 10%;
}

section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-content: center;
    width: 100%;
    height: 2000px;
    margin-bottom: none;
}

section #Info_Cont2 {
    padding: 20%;
}

.hide {
    */ display: none;
}