@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
.btn-start {
  background-color: #ffc60b;
  font-weight: 600;
  /* background-color: #ff4d00; */
  border: none;
  color: rgb(0, 0, 0);
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  float: right;
  font-size: 18px;
  margin-top: -1px;
}
.header-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto;
}
.grid-container{
  display: grid;
  background: #1b1b1b;
  grid-template-columns: auto auto auto ;
    justify-content: space-evenly;
}
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f2f2f2;
}

a {
  color: #fff;
  text-decoration: none;
}

nav {
  background: #1b1b1b;
  box-shadow: 5px 5px 4px #3d3c3c;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav .logo span {
  color: #66ffff;
}

nav ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.show,
.icon,
input {
  display: none;
}
.invisible {
  visibility: hidden;
  display: inline-block;
}

@media all and (max-width: 968px) {
  .invisible {
    display: none;
  }
  .header-container {
    display: grid;
    justify-content: center;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
  }
  .algorithm-text {
    text-align: center;
  }
  .btn-start {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    float: none;
    margin-top: 0%;
  }
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 90%;
  }

  .show + a,
  ul {
    display: none;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-left: 40px;
  }

  nav ul ul ul a {
    padding-left: 80px;
  }

  nav ul ul ul li {
    position: static;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  span.cancel:before {
    content: "\f00d";
  }
}

.mr-50 {
  margin-right: 50px;
}

/*-----------------------------------
Cards
------------------------------------*/
.container {
  margin: 5px auto;
  text-align: center;
}

.card-deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
  width: 320px;
  max-height: 500px;
  margin: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  margin: 5 auto;
  line-height: 50px;
}

.card-image {
  width: 100%;
  height: 250px;
  border-radius: 5px 5px 0 0;
}

.btn-primary {
  background-color: #0096fe;
  font-weight: 600;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-hover:hover {
  transform: scale(1.3);
}

.btn-dark {
  background-color: #394043;
  font-weight: 600;
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-danger {
  background-color: #fe4a49;
  font-weight: 600;
  /* background-color: #ff4d00; */
  border: none;
  color: #fff;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
}
.text-center {
  text-align: center;
}

body {
  background-color: white;
}

.tutorial-card {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.tutorial-card .card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.tutorial-card .card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.tutorial-card .card-title {
  margin-bottom: 0.5rem;
}

.lineargif {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #8fb7a5;
  background-color: black;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

/* Style the buttons that are used to open the tab content */

.tab button {
  background-color: black;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
  font: 600 16px Lato, sans-serif;
  margin: 5px;
}

/* Change background color of buttons on hover */

/* hover {
        background-color: #61977e;
    } */

.tab button:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: cyan;
  color: black;
  border-radius: 5px;
}

/* Style the tab content */

.tabcontent {
  display: none;
  /* padding: 6px 12px;
        border: 1px solid #426756;
        border-top: none; */
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#Python3 {
  display: block;
}

@media all and (max-width: 968px) {
  pre {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }
  .lineargif {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
  }
  .tutorial-card {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  ul {
    display: none;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #8fb7a5;
    background-color: black;
    width: 98%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 1%;
    margin-right: 1%;
    /* justify-content: space-evenly; */
  }
  .tabcontent {
    display: none;
    /* padding: 6px 12px;
    border: 1px solid #426756;
    border-top: none; */
    margin-left: 2%;
    margin-right: 2%;
    width: 98%;
  }
  .text-responsive {
    font-size: 1rem;
    padding: 1px;
  }
}
