<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sortingStyles.css" />
    <title>Linear Search</title>
</head>

<body>
    <header class="header">Linear Search</header>
    <br />

    <div class="container">
        <input type="number" id="searchKey" class="number-input btn-lg" placeholder="Find Number" required />
        <br />
        <br />
        <button class="success btn-lg btn-shadow" id="search" onclick="linearSearch()">
				Search
			</button>
        <button class="danger btn-lg btn-shadow" id="reset " onclick="resetArray() ">
				Reset Array
			</button>
    </div>

    <br /><br />

    <div class="data-container">
        <div class="row">
            <div class="column">
                <div class="card">
                    <span id="0">56</span>
                    <span class="index">0</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="1">56</span>
                    <span class="index">1</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="2">56</span>
                    <span class="index">2</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="3">56</span>
                    <span class="index">3</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="4">56</span>
                    <span class="index">4</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="5">56</span>
                    <span class="index">5</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="6">56</span>
                    <span class="index">6</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="7">56</span>
                    <span class="index">7</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="8">56</span>
                    <span class="index">8</span>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <span id="9">56</span>
                    <span class="index">9</span>
                </div>
            </div>
        </div>
    </div>

    <br /><br />

    <div class="container">
        <h1 class="result"></h1>
    </div>

    <script src="../js/linearSearch.js "></script>
</body>

</html>