<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/auth.css">
    <title>Authentication</title>
</head>

<body>

    <h1 class="header"><i class="fab fa-battle-net"></i> Algo Visualization</h1>
    <div class="hero">
        <div class="form-box">

            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>

            <form action="#" class="input-group" id="login">
                <input type="email" class="input-field" placeholder="Email" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <button class="submit-btn">Login</button>
                <br>
                <a href="#" class="link">Forgot Password ?</a>
            </form>

            <form action="#" class="input-group" id="register">
                <input type="text" class="input-field" placeholder="Name" required>
                <input type="email" class="input-field" placeholder="Email" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <button class="submit-btn">Register</button>
            </form>
        </div>
    </div>


    <script>
        var loginForm = document.getElementById("login")
        var registerForm = document.getElementById("register")
        var shiftBtn = document.getElementById("btn")

        function register() {
            loginForm.style.left = "-400px";
            registerForm.style.left = "50px";
            shiftBtn.style.left = "110px";
        }

        function login() {
            loginForm.style.left = "50px";
            registerForm.style.left = "450px";
            shiftBtn.style.left = "0";
        }
    </script>
</body>

</html>