<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a658a7b479.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/auth.css">
    <link rel="icon" href="../images/logo.png">
    <title>Please Check Your Mail</title>
</head>

<body>

    <div class="container">

    </div>

    <h1 class="header"><i class="fab fa-battle-net"></i> Algo Visualization</h1>
    <div class="hero">
        <div class="mail-box">

            <h1 style="text-align:center;color:red;">Please Check Your </h1>
            <h1 style="text-align:center;color:red;">Mail !</h1>

            <br><br>
            <h2 style="text-align:center;"><a href="authentication.php">Click here</a> to login in</h2>


        </div>


    </div>
</body>

</html>