<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title><style>
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

</style>
<link rel="stylesheet" type="text/css" href="../css/searching.css">

</head>

<body>
  <nav class="content">
    <div class="mobile-logo">
        <br />
        <h1>
            <a href="../index.html">Algo<span>Visualization</span></a>
        </h1>
    </div>
    <div class="logo">
        <a href="../index.html">Algo<span>Visualization</span></a>
    </div>

    <ul>
        <li>
            <a href="#">
                <select name="algo" id="algo">
                    <option value=""  selected>
                    Linear Search 
                    </option>
                    <option value="bfs">
                        JUMP SEARCH
                    </option>
                    <option value="dfs">
                        BINARY SEARCH
                    </option>

                    <option value="dijkstra">EXPONENT SEAECH</option>

                </select>
            </a>
        </li>
        <li>
            <a>
            <span>Size</span>
            <input id="slider" type="range" min=10 max=70 step=1 value=41></a>
        </li>

        <li>
            <a>
                <span>Speed</span>
                <input id="speed" type="range" min=1 max=10 step=1 value=8></a>
        </li>


        <li>
            <a href="index.php"><button id="clear">HOME</button></a>
        </li>

    </ul>
</nav>
<!-- <div class="container flex-row">
    <label for="elements">No. of Elements</label>
    <select name="elements" id="elements">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
    </select>
    <label for="speed">Speed</label>
    <select name="speed" id="speed">
        <option value="1200">Slow</option>
        <option value="750">Medium</option>
        <option value="500">Fast</option>
    </select>
    <button class="info btn-shadow" id="visualize" onclick="visualize() ">
        Set
    </button>
</div> -->
<div class="containers">
    <br><br>
    <h1>Let's start searching ? </h1>
    <br>
<input type="number" id="searchKey" class="number-input btn-lg" placeholder="Find Number" required />
<br />
<br />
<button class="success btn-lg btn-shadow" id="search" onclick="linearSearch()">
    Search
</button>
<button class="danger btn-lg btn-shadow" id="reset" onclick="resetArray() ">
    Reset Array
</button>
</div>
<br><br>
  <div class="container" id="x">

  </div>
  <br>
  <div id="message" style="text-align:center">
    
  </div>
  <script src="./../js/searching/ls.js"></script>
</body>
</html>