<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sort Visualizer</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    </style>
    <link rel="icon" href="../images/logo.png" />
    <link rel="stylesheet" type="text/css" href="../css/sorting.css">

</head>

<body>
    <center>
    <nav class="content">
        <div class="mobile-logo">
            <br />
            <h1>
                <a href="index.php">Algo<span>Visualization</span></a>
            </h1>
        </div>
        <div class="logo">
            <a href="index.php">Algo<span>Visualization</span></a>
        </div>

        <ul>
            <li>
                <a href="index.php"><button id="clear">HOME</button></a>
            </li>

            <ul>
                <li>
                    <a href="#">
                        <select name="algo" id="algo" onchange="algoSelected()">
                        <option value="" disabled selected>
                            CHOOSE ALGORITHM
                        </option> 
                        <div class="algos"> 
                            <option value="bubble">
                                BUBBLE
                            </option>
                            <option value="selection">
                                SELECTION
                            </option>

                            <option value="insertion">
                                INSERTION
                            </option>
                            <option value="quick">
                                QUICK
                            </option>
                            <option value="merge">
                                MERGE
                            </option>
                            <option value="heap">
                                HEAP
                            </option>
                        </div> 
                         </select>
                    </a>
                </li>
                <!-- <div class="array-inputs"> -->
                <li>
                    <a>
                        <span>Size</span>
                        <input id="arr_size" type="range" min=15 max=40 step=1 value=20></a>
                </li>

                <li>
                    <a>
                        <span>Speed</span>
                        <input id="arr_speed" type="range" min=1 max=10 step=1 value=8></a>
                </li>
                <li>
                    <a>
                        <button id="arr_generate">Reset Array!</button></a>
                </li>
                <!-- </div> -->

            </ul>
    </nav>
</center>
    <center> <button class="success btn-lg btn-shadow" id="search" onclick="sort()">
        Sort
    </button>
    </center>
    <section>

        <div id="Info_Cont1">
            <p></p>
        </div>

        <div id="array_container"></div>

        <div id="Info_Cont2">
            <p></p>
        </div>

    </section>

    <script src="../js/sorting/main.js"></script>
    <script src="../js/sorting/visualization.js"></script>
    <script src="../js/sorting/bubble.js"></script>
    <script src="../js/sorting/selection.js"></script>
    <script src="../js/sorting/insertion.js"></script>
    <script src="../js/sorting/quick.js"></script>
    <script src="../js/sorting/merge.js"></script>
    <script src="../js/sorting/heap.js"></script>
</body>

</html>