<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/tutorial_nav.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>



    <div class="main">

        <nav>
            <i class="fas fa-graduation-cap"></i>
            <label class="logo"><b>Algorithm Visualization</b></label>
        </nav>
        <br>
        <br>

        <div class="cards">
            <div class="image">
                <img src="../images/glad/Path.jpg">
            </div>
            <div class="title">
                <h1>Path Finding Algorithms</h1>
            </div>
            <div class="des">
                <!-- <p>Finds the best path given a starting point and ending point based on some predefined criteria.</p> -->
                <button>Tutorials</button>
                <button>Visualize</button>
            </div>
        </div>

        <div class="cards">
            <div class="image">
                <img src="../images/glad/Searching101.png">
            </div>
            <div class="title">
                <h1>Searching Algorithms</h1>
            </div>
            <div class="des">
                <!-- <p>The searching algorithms are used to search or find one or more than one element from a dataset.</p> -->
                <button>Tutorials</button>
                <button>Visualize</button>

            </div>
        </div>

        <div class="cards">
            <div class="image">
                <img src="../images/glad/Sorting.png">
            </div>
            <div class="title">
                <h1>Sorting Algorithms</h1>
            </div>
            <div class="des">
                <!-- <p>A Sorting Algorithm is used to rearrange a given array or list elements according to a comparison operator on the elements.</p> -->
                <button>Tutorials</button>
                <button>Visualize</button>

            </div>
        </div>


    </div>







</body>

</html>